footer ul li {
    list-style: none;
    display:inline;
    margin:0 1.2rem
}

a.fa-solid,
a.fa-brands {
    font-size: 28px;
    display: inline-block;
    text-decoration: none;
    margin: 0px;
}

a.fa-solid:hover,
a.fa-brands:hover {
    color: #dcdcdc;
}

a:hover {
    color: #dcdcdc
}

footer {
    padding-bottom: 50px;
}

.multi-column-list {
    column-count: 2;
}

.job ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.job ul {
    padding-inline-start: 0 !important;
}

.job {
    margin-bottom: 1.6rem;
}

div.job ul li:nth-child(1) {
    font-weight: bold;
}

div.job ul li:nth-child(2) {
    text-decoration: underline;
}

div.job ul li:nth-child(3) {
    font-style: italic;
}

div.job ul li:nth-child(4) {
    padding-top: 5px;
}